<% cache do %>
  <div class="header">
    <h1 class="logo"><%=link_to "Plants on Rails", "" %></h1>
    <div class="nav">
    <% if session[:user_id] %>
      <ul class="nav">
        <li class="nav"><%=link_to "Logout", "/sessions/logout" %></li>
        <li class="nav" id="cart"><%=link_to "Cart", "/cart/show" %></li>
      </ul>
    <% else %>
      <ul>
        <li class="nav"><%=link_to "Sign Up", "/users/new" %></li>
        <li class="nav"><%=link_to "Login", "/sessions/login" %></li>
        <li class="nav" id="cart"><%=link_to "Cart", "/cart/show" %></li>
      </ul>
    <% end %>
    </div>
  </div>

<% end %>


